@{
    ViewBag.Title = "LoadingProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/mobile.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/ViewModels/NewProductViewModel.js"></script>
<script src="~/ViewModels/CommonViewModel.js"></script>
<style>
    /*#uploader li {
        list-style: none;
    }

    #uploader {
        text-decoration: none;
        color: #000;
        margin: 10px;
        width: 150px;
        height: 150px;
        border: 3px dashed #999;
        background: #eee;
        padding: 10px;
        display: block;
    }*/
</style>

<div class="gridContainer clearfix"></div>

<div id="vmContent">
    <div class="container-fluid">
        <div class="tabbable" id="tabs-448459">
            <div class="tab-content">
                <div class="tab-pane active" id="panel-533528" data-bind="css:{active : CategoriaVisibility }">
                    <div class=" row">
                        <div class="col-md-6">

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Categorias
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <!-- ko foreach: Categorias -->
                                        <a href="#" class="list-group-item"><span data-bind="text:Descripcion(), click: $parent.GetSubCategorias"></span></a>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        Sub-Categorias
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <!-- ko foreach: SubCategorias -->
                                        <a href="#" class="list-group-item"><span data-bind="text:Descripcion()"></span></a>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" data-bind="click: BtnSiguiente">
                                Siguiente
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="panel-280320" data-bind="css:{active : SubCategoriaVisibility }">
                    <div class="row">
                        <div id="div1" class="fluid">
                           
                          
                            <div id="wrapper">
                                <!-- ko foreach: InputFiles -->
                                <section>
                                    <article id="column">
                                        <label for="file-input">
                                            <img data-bind="attr:{src: ThumnailUrl}" />
                                        </label>
                                        <div id="fondo">
                                            <input id="file-input" style="display:none" type="file" multiple="multiple" />
                                        </div>
                                    </article>
                                </section>
                                <div>
                                    <input type="submit" value="Cargar" id="btnUpload" data-bind="click: $parent.BtnCargarPublicacion" class="btn btn-default" />
                                </div>
                                <!-- /ko -->
                            </div>
                            @*<div class="">
                                    <div class="row">
                                        <div class="col-md-12" style="font-size:medium">
                                            <div class="form-group">
                                                <div class="">

                                                    <label for="file-input">
                                                        <img src="http://stmedia.stimg.co/strib-sports-upload-color.png?w=150&h=150" style="cursor:pointer" />
                                                    </label>
                                                    <input id="file-input" style="display:none" type="file" multiple="multiple" />
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Cargar" id="btnUpload" data-bind="click: BtnCargarPublicacion" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary btn-block" data-bind="click: BtnAtras">
                                Atras
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var Newvm = new NewProductViewModel();
    ko.applyBindings(Newvm, $("#vmContent")[0]);
</script>