@{
    ViewBag.Title = "LoadingProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/mobile.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/ViewModels/NewProductViewModel.js"></script>
<script src="~/ViewModels/CommonViewModel.js"></script>

<div class="gridContainer clearfix"></div>

<div id="vmContent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable" id="tabs-832059">
                    <span class="badge" data-bind="text:DescripcionCategoriaSelected()"></span>                    
                    @*<ul class="nav nav-tabs">
                        
                        <li data-bind="css:{active : CategoriaVisibility }">
                            <a href="#panel-Categorias" data-toggle="tab">Categorias</a>
                        </li>
                        <li data-bind="css:{active : SubCategoriaVisibility }">
                            <a href="#panel-Subcategorias" data-toggle="tab">Sub Categorias</a>
                        </li>
                    </ul>*@
                    <div class="tab-content">
                        <div class="tab-pane active" data-bind="css:{active : CategoriaVisibility }" id="panel-Categorias">
                            <div class="list-group">
                                <!-- ko foreach: Categorias -->
                                <a href="#" class="list-group-item"><span data-bind="text:Descripcion(), click: $parent.GetSubCategorias"></span></a>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="tab-pane" data-bind="css:{active : SubCategoriaVisibility }" id="panel-Subcategorias">
                            <div class="list-group">
                            <!-- ko foreach: SubCategorias -->
                            <a href="#" class="list-group-item"><span data-bind="text:Descripcion()"></span></a>
                            <!-- /ko -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var Newvm = new NewProductViewModel();
    ko.applyBindings(Newvm, $("#vmContent")[0]);
</script>