<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/mobile.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

<body>
   

 
    <div id="divisor"></div>
    <div id="top">
        <!--<img src="images.jpg" />-->
        <p class="textop">Compradores que buscan vendedores</p>
        <p class="textop2">Bivenenidos a la plataforma donde los usuarios <strong>exponen sus deseos de compra</strong> y los vendedores <strong>ofrecen sus mejores precios</strong> mediante un sistema de <strong>compras a la inversa</strong></p>
        <div id="busq">
            <form action='/search' id='cajadebusqueda' method='get'>
                <input id='ingresar' name='q' placeholder='¿Que tenés para ofrecer?' type='text' />
            </form>
        </div>

    </div>
    <div class="gridContainer clearfix"></div>
        <div id="div1" class="fluid">
            <div id="wrapper">
                <!---- DESTACADOS -->
                <!---- ARTICULOS -->

                <section>
                    <article id="column">
                        <div id="foto">
                            <img src="pesca.jpg" title="Pesca" alt="Pesca" />
                        </div>
                        <div id="fondo">
                            <h2>Compro cañas de pescar </h2>
                            <p class="zona">Saavedra, Buenos Aires</p>
                            <p class="precio">$900</p>
                        </div>
                    </article>
                </section>

                <section>
                    <article id="column">
                        <div id="foto">
                            <img src="pesca.jpg" title="Pesca" alt="Pesca" />
                        </div>
                        <div id="fondo">
                            <h2>Compro cañas de pescar </h2>
                            <p class="zona">Saavedra, Buenos Aires</p>
                            <p class="precio">$900</p>
                        </div>
                    </article>
                </section>

                <section>
                    <article id="column">
                        <div id="foto">
                            <img src="pesca.jpg" title="Pesca" alt="Pesca" />
                        </div>
                        <div id="fondo">
                            <h2>Compro cañas de pescar </h2>
                            <p class="zona">Saavedra, Buenos Aires</p>
                            <p class="precio">$900</p>
                        </div>
                    </article>
                </section>

                <section>
                    <article id="column">
                        <div id="foto">
                            <img src="pesca.jpg" title="Pesca" alt="Pesca" />
                        </div>
                        <div id="fondo">
                            <h2>Compro cañas de pescar </h2>
                            <p class="zona">Saavedra, Buenos Aires</p>
                            <p class="precio">$900</p>
                        </div>
                    </article>
                </section>

                <section>
                    <article id="column">
                        <div id="foto">
                            <img src="pesca.jpg" title="Pesca" alt="Pesca" />
                        </div>
                        <div id="fondo">
                            <h2>Compro cañas de pescar </h2>
                            <p class="zona">Saavedra, Buenos Aires</p>
                            <p class="precio">$900</p>
                        </div>
                    </article>
                </section>

                <section>
                    <article id="column">
                        <div id="foto">
                            <img src="pesca.jpg" title="Pesca" alt="Pesca" />
                        </div>
                        <div id="fondo">
                            <h2>Compro cañas de pescar </h2>
                            <p class="zona">Saavedra, Buenos Aires</p>
                            <p class="precio">$900</p>
                        </div>
                    </article>
                </section>

                <section>
                    <article id="column">
                        <div id="foto">
                            <img src="pesca.jpg" title="Pesca" alt="Pesca" />
                        </div>
                        <div id="fondo">
                            <h2>Compro cañas de pescar </h2>
                            <p class="zona">Saavedra, Buenos Aires</p>
                            <p class="precio">$900</p>
                        </div>
                    </article>
                </section>

                <section>
                    <article id="column">
                        <div id="foto">
                            <img src="pesca.jpg" title="Pesca" alt="Pesca" />
                        </div>
                        <div id="fondo">
                            <h2>Compro cañas de pescar </h2>
                            <p class="zona">Saavedra, Buenos Aires</p>
                            <p class="precio">$900</p>
                        </div>
                    </article>
                </section>


            </div>

        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $("#showmenu").click(function (e) {
                e.preventDefault();
                $("#menu").toggleClass("show");
            });
            $("#menu a").click(function (event) {
                event.preventDefault();
                if ($(this).next('ul').length) {
                    $(this).next().toggle('fast');
                    $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
                }
            });
        </script>

</body>

</html>
